# Тема “Обучение с учителем”

### Задание 1

Импортируйте библиотеки pandas и numpy.

In [22]:
import numpy as np
import pandas as pd

Загрузите "Boston House Prices dataset" из встроенных наборов данных библиотеки sklearn.

In [23]:
import warnings
warnings.filterwarnings('ignore')
from sklearn.datasets import load_boston
boston = load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename', 'data_module'])

Создайте датафреймы X и y из этих данных.

In [24]:
X = pd.DataFrame(boston['data'], columns=boston['feature_names'])
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [25]:
y = pd.DataFrame(boston['target'], columns=["price"])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

Разбейте эти датафреймы на тренировочные (X_train, y_train) и тестовые (X_test, y_test) с помощью функции train_test_split так, чтобы размер тестовой выборки
составлял 30% от всех данных, при этом аргумент random_state должен быть равен 42.

In [26]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

Создайте модель линейной регрессии под названием lr с помощью класса LinearRegression из модуля sklearn.linear_model.

In [27]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

Обучите модель на тренировочных данных (используйте все признаки) и сделайте предсказание на тестовых.

In [28]:
lr.fit(X_train, y_train)

LinearRegression()

In [29]:
check_test = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": lr.predict(X_test).flatten()
})

check_test.head(10)

     y_test     y_pred
285    22.0  26.903048
287    23.2  26.948127
21     19.6  17.790805
120    22.0  22.952835
418     8.8   3.714360
59     19.6  21.033137
151    19.6  18.996853
218    21.5  25.255619
262    48.8  41.078909
191    30.5  30.126177

Вычислите R2 полученных предказаний с помощью r2_score из модуля sklearn.metrics.

In [30]:
from sklearn.metrics import r2_score

In [31]:
R2 = r2_score(check_test['y_test'], check_test['y_pred'])
print(R2)

0.7035573242903079

### Задание 2

Создайте модель под названием model с помощью RandomForestRegressor из модуля sklearn.ensemble.
Сделайте агрумент n_estimators равным 1000,
max_depth должен быть равен 12 и random_state сделайте равным 42.

In [32]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=1000, max_depth=12, random_state=42)

Обучите модель на тренировочных данных аналогично тому, как вы обучали модель LinearRegression,
но при этом в метод fit вместо датафрейма y_train поставьте y_train.values[:, 0],
чтобы получить из датафрейма одномерный массив Numpy,
так как для класса RandomForestRegressor в данном методе для аргумента y предпочтительно применение массивов вместо датафрейма.

In [33]:
y_train_new = np.array(y_train.values[:, 0], dtype=int)
model.fit(X_train, y_train_new)

RandomForestClassifier(max_depth=12, n_estimators=1000, random_state=42)

In [34]:
check_test_rfc = pd.DataFrame({
    "y_test": y_test["price"],
    "y_pred": model.predict(X_test).flatten()
})

check_test_rfc.head(10)

     y_test  y_pred
285    22.0      24
287    23.2      22
21     19.6      18
120    22.0      20
418     8.8       8
59     19.6      22
151    19.6      15
218    21.5      18
262    48.8      50
191    30.5      29

Сделайте предсказание на тестовых данных и посчитайте R2. Сравните с результатом из предыдущего задания.
Напишите в комментариях к коду, какая модель в данном случае работает лучше.

In [35]:
R2_rfc = r2_score(check_test_rfc['y_test'], check_test_rfc['y_pred'])
print('RandomForestRegressor R2: ', R2_rfc)
print('LinearRegression R2: ', R2)

RandomForestRegressor R2:  0.8219471815917064
LinearRegression R2:  0.7035573242903079

Получается что RandomForestRegressor работает лучше.

### *Задание 3

Вызовите документацию для класса RandomForestRegressor,
найдите информацию об атрибуте feature_importances.

In [37]:
from sklearn.ensemble import RandomForestRegressor
?RandomForestRegressor

С помощью этого атрибута найдите сумму всех показателей важности,

In [17]:
print(model.feature_importances_)

[0.1152505  0.0200698  0.05264366 0.00992748 0.07069946 0.13367399
 0.10548766 0.10877489 0.03374704 0.05677609 0.05609652 0.09501426
 0.14183865]

In [18]:
model.feature_importances_.sum()

0.9999999999999999


Установите, какие два признака показывают наибольшую важность.

In [19]:
feat_imp = pd.DataFrame({
    "feature_name": boston['feature_names'],
    "feature_importance": model.feature_importances_
})
feat_imp

   feature_name  feature_importance
0          CRIM            0.115251
1            ZN            0.020070
2         INDUS            0.052644
3          CHAS            0.009927
4           NOX            0.070699
5            RM            0.133674
6           AGE            0.105488
7           DIS            0.108775
8           RAD            0.033747
9           TAX            0.056776
10      PTRATIO            0.056097
11            B            0.095014
12        LSTAT            0.141839

In [21]:
feat_imp.sort_values("feature_importance", ascending=False).head(2)

   feature_name  feature_importance
12        LSTAT            0.141839
5            RM            0.133674